.button {
  padding: 5px 25px;
  background: #013d65;
  border: 1px solid #2c2b2980;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  transition: all 0.3s;
}
.button:hover {
  cursor: pointer;
  color: rgba(248, 206, 30, 0.95);
  transform: scale(105%);
}
.button:active {
  transform: translate(0, 1%);
}
