.button {
  padding: 5px 20px;
  background: #013d65;
  border: 2px solid #2c2b2980;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  transition: all 0.4s;
}
.button:hover {
  cursor: pointer;
  color: rgba(248, 206, 30, 0.95);
  border: 2px solid rgba(248, 206, 30, 0.6);
}
