.wrapper {
  padding: 15px 30px;
  border-radius: 20px 20px 5px 5px;
  background-color: #cde7f8;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.select {
  border-radius: 5px;
  padding: 7px 5px 7px 5px;
  font-size: 16px;
  outline: none;
  background: #ecf7fe;
  border: 1px solid #7fbce6;
}
