.controls__container {
  display: flex;
  gap: 30px;
}
.link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}
.link:hover {
  color: rgba(248, 206, 30, 0.95);
}
