.input__container {
  width: 33%;
  position: relative;
  z-index: 10;
}

.input {
  width: 100%;
  background: #ecf7fe;
  border: 1px solid #2c2b29;
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 22px;
  line-height: 26px;
  outline: none;
}
.input__container > button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
